* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  font-family: "Poppins", sans-serif;
  cursor: none;
  /* background: #f1f1f1; */
}

.hero-image {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(mountains-landscape.jpg) no-repeat center;
  background-size: cover;
  z-index: -5;
  object-fit: cover;
  transition: all 0.3s ease;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-align: center;
  color: #f1f1ff;
  font-weight: 700;
}

.container h1 {
  font-size: 1.4em;
  margin: 0;
  padding: 20px 20px;
}

.btn {
  color: #f1f1f1;
  padding: 5px 24px;
  border-style: solid;
  font-size: 1em;
  text-decoration: none;
  background: none;
  border-radius: 2px;
  transition: 0.3s all;
}

.btn:hover {
  opacity: 0.6;
}

.cursor {
  width: 30px;
  height: 30px;
  border: 1.5px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transform-origin: 100% 100%;
  transition-property: background, transform;
  z-index: 0;
  background: transparent;
  backdrop-filter: grayscale();
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 10vh;
  align-items: center;
  margin: auto;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

.nav-links li {
  padding: 1rem;
  transition: all 0.3s ease;
}

nav ul,
h1 {
  flex: 1;
}

.link-grow {
  transform: scale(2);
  background: black;
}
.hovered-link {
  color: white;
}
